force-app/main/default/flows/Medical_Upload_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>update_flag_on_booking</name>
        <label>update flag on booking</label>
        <locationX>557</locationX>
        <locationY>282</locationY>
        <actionName>UpdateUploadFlagOnBooking</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>param</name>
            <value>
                <elementReference>flagParam</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_value_to_visa_collection</name>
        <label>Add value to visa collection</label>
        <locationX>138</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>visa_files</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>visa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Documents_Visa_Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>visa_file_name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Visa</stringValue>
        </value>
    </constants>
    <formulas>
        <name>flagParam</name>
        <dataType>String</dataType>
        <expression>{!recordId}+&quot;-medical&quot;</expression>
    </formulas>
    <interviewLabel>Medical Upload Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medical Upload Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Upload_Documents_Visa_Screen</name>
        <label>Upload Documents</label>
        <locationX>374</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_flag_on_booking</targetReference>
        </connector>
        <fields>
            <name>Upload_visa</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload visa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>visa_files</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Add_value_to_visa_collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of visa files</description>
        <name>visa_files</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
